/* Basic reset and font settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f3f0;
    /* background-image: url(images/Image_back.jpg); */
    color: #333;
    line-height: 1.6;
}

.logo{
    display: flex;
    align-items: center;

}
.logo-img{
    width: 60px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
}

header {
    background: #2e7d32;
    color: #ffeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
header h1 {
    
    font-size: 28px;
    font-weight: bold;
    color: #f4f4f4;
    text-decoration: none;
}
header h1:hover{
    text-decoration:underline;
}
header h2{
    color: black;
    font-family: cursive;
    font-size: 15px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
}
header nav ul li a:hover {
    background: #1b5e20;
    border-radius: 5px;
}
.search-form {
    display: flex;                
    justify-content: center;       
    margin-top: 20px;              
}

.search-input {
    padding: 10px;                 
    width: 250px;                 
    border: 1px solid #ccc;       
    border-radius: 5px 0 0 5px;    
    font-size: 16px;               
    outline: none;                 
}

.search-button {
    padding: 10px 20px;          
    background-color: #2b7a0b;    
    color: white;                  
    border: none;
    cursor: pointer;  
}              
